<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <th align="left" style="font-size: 14px; text-align: left; padding-top: 8px; padding-bottom: 8px;">
            {{{{raw}}}}
                {% trans 'Delivery Address' %}
            {{{{/raw}}}}
        </th>
    </tr>
    <tr>
        <td style="font-size: 14px; text-align: left;" align="left">
            {{{{raw}}}}
                {{ delivery_address.to_html }}
            {{{{/raw}}}}
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="100%" class="spacer">
    <tr><td height="30px" style="font-size:30px;line-height:30px;">&nbsp;</td></tr>
</table>

<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <th align="left" style="font-size: 14px; text-align: left; padding-top: 8px; padding-bottom: 8px;">
            {{{{raw}}}}
                {% trans 'Payment Method' %}
            {{{{/raw}}}}
        </th>
    </tr>
    <tr>
        <td style="font-size: 14px; text-align: left;" align="left">
            {{{{raw}}}}
                {{ payment_details.to_html }}
            {{{{/raw}}}}
        </td>
    </tr>
</table>
