<a href="http://example.com" style="text-decoration: none; color: #3a4752; font-size: 14px; line-height: 14px;">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="left" style="text-align: left; padding-top: 20px; padding-bottom: 20px; font-size: 14px;">
                {{{{raw}}}}
                    {% trans 'View Order Details' %}
                {{{{/raw}}}}
            </td>
            <td align="right" valign="middle" style="text-align: right; vertical-align: middle;">&gt;</td>
        </tr>
    </table>
</a>
<a href="http://example.com" style="text-decoration: none; color: #3a4752; font-size: 14px; line-height: 14px;">
    <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="left" style="text-align: left; padding-top: 20px; padding-bottom: 20px; font-size: 14px;">
                {{{{raw}}}}
                    {% trans 'Returns & Cancellations' %}
                {{{{/raw}}}}
            </td>
            <td align="right" valign="middle" style="text-align: right; vertical-align: middle;">&gt;</td>
        </tr>
    </table>
</a>